<div class="container">
    <span class="d-flex justify-content-between">
        <h4>Order Details</h4> <button class="btn btn-primary" (click)="back()">Back</button>
    </span>
    <div class="details-container ">
        <div class="d-flex flex-column m-4">
            <span class="d-flex flex-row ">
                <p class="mx-2">Order Date: </p>{{orderDetails?.OrderDate|date}}
            </span>
            <span class="d-flex flex-row ">
                <p class="mx-2">Payment Type: </p>{{orderDetails?.PaymentType}}
            </span>
            <span class="d-flex flex-row ">
                <p class="mx-2">Total Quantity: </p>{{totalQuantity}}
            </span>
        </div>
        <div class="d-flex flex-column m-4">
            <span class="d-flex flex-row ">
                <p class="mx-2">Name: </p>{{selectedUser?.Name}}
            </span>
            <span class="d-flex flex-row ">
                <p class="mx-2">Email: </p>{{selectedUser?.Email}}
            </span>
            <span class="d-flex flex-row ">
                <p class="mx-2">Phone: </p>{{selectedUser?.Phone}}
            </span>
            <span class="d-flex flex-row ">
                <p class="mx-2">Address: </p>{{selectedUser?.Address}}
            </span>
            <span class="d-flex flex-row mx-2">
                <p>Register Date: </p>{{selectedUser?.RegisterDate}}
            </span>
        </div>
    </div>
</div>