<div class="container">
    <span class="d-flex justify-content-between">
        <h4 class="m-2">Order Details</h4> <button class="btn btn-primary m-2" (click)="back()">Back</button>
    </span>
    <div class="details-container">
        <div class="">
            <ul class="d-flex flex-column">
                <li><span>Order Date: {{orderDetails?.OrderDate|date}}</span></li>
                <li>Payment Type: {{orderDetails?.PaymentType}}</li>
                <li>Total Quantity: {{totalQuantity}}</li>
            </ul>
            <h4 class="m-2">User Details</h4>
            <ul class="d-flex flex-column">
                <li>Name: {{selectedUser?.Name}}</li>
                <li>Email: {{selectedUser?.Email}}</li>
                <li>Phone: {{selectedUser?.Phone}}</li>
                <li>Address: {{selectedUser?.Address}}</li>
                <li>Register Date:{{selectedUser?.RegisterDate|date}}</li>
            </ul>
        </div>
    </div>
</div>