<div #myModal class="popup-container">
    <div class="popup-content">
        <div class=" d-flex justify-content-center align-items-center">
            <form [formGroup]="form" class="col-4">
                <div class="m-2">
                    <label for="quantity">Quantity</label>
                    <input formControlName="quantity" type="number" class="form-control"
                        placeholder="Enter Your quantity" aria-label="quantity" aria-describedby="basic-addon1">
                    <div
                        *ngIf="form.get('quantity')?.invalid && (form.get('quantity')?.dirty || form.get('quantity')?.touched)">
                        <div class="error_validation" *ngIf="form.get('quantity')?.errors?.['required']">
                            Quantity is required.
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <hr>
        <div class="d-flex justify-content-end">
            <button class="btn btn-secondary mx-2" (click)="close()">Close</button>
            <button class="btn btn-primary" (click)="editQuantities()">Save</button>
        </div>
    </div>
</div>